<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>
    <body>
        <div>
        	<p>Please <%= link_to "Click here", @account_activation_link%> to activate your account</p>
        </div><br />
		<div id="footer">
			<div class="footer">
		        <p>Copyright &copy; 2012 Crown - Club. All rights reserved</p>
		    </div>
		</div>
    </body>
</html>