<%content_for :session_out_view do %>
	<div class="signup">
		<div class="signup_form">
			<h3 style="color: #228B22">Account activated successfully!!!</h3>
			<h3 style="color: #228B22">You can login now <%= image_tag "smiley.png"%></h3>
		</div>
	</div>
	<div class="slide">
	<div id="gamesHolder">
		<div id="games">
				<%= image_tag "slide.jpg"%>		
				<%= image_tag "slide2.jpg"%>
				<%= image_tag "slide3.jpg"%>	
		</div>
	</div>
	</div>
<%end%>
